{
	"parser": "babel-eslint",
	"extends": ["eslint:recommended", "plugin:react/recommended"],
	"plugins": [
		"react"
	],
    "rules": {
	    "arrow-parens": ["error", "always"]    	
    },
	"parserOptions": {
		"ecmaFeatures": {
			"jsx": true,
			"modules": true
		}
	}
}