.accounts-container {
  background: white;
  float: left;
  max-width: 400px;
  margin: 0 auto;
  min-height: 400px;
  padding: 6px;
}

.accounts-header {
  border-bottom: black solid 1px;
}

.accounts-quick-entry {
  width: 300px;
  margin: 6px;
}

.accounts-list {
  background-color: #fff;
  margin: 2px;
  padding: 6px;
}

.new-account {
  margin-bottom: 4px;
  margin-top: 0px;
}
