.accounts-container {
  background-color: #eee;
  height: 100%;
  min-height: 500px;
  padding: 6px;
}

.accounts-header {
  background-color: #eee;
  border-bottom: black solid 1px;
}

.accounts-quick-entry {
  margin: 6px;
  width: 300px;
}

.accounts-list {
  background-color: #eee;
  margin: 2px;
  padding: 6px;
}

.new-account {
  margin-bottom: 4px;
  margin-top: 0px;
}

.delete {
  text-align: center;
  border: none;
}